<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/assets/css/style.css">
  {{!-- login --}}
  <link rel="stylesheet" href="/assets/css/login.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon_io/site.webmanifest">
  <script src="https://cldup.com/S6Ptkwu_qA.js"></script>

</head>

{{!--

<body>


  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <h3>Đăng nhập</h3>
                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
              </div>
              <form action="#" method="post">
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" autocomplete="off">
                </div>
                {{#if errorUser}}
                <div class="alert alert-danger">{{errorUser}}</div>
                {{/if}}
                <div class="form-group last mb-4">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                {{#if errorPass}}
                <div class="alert alert-danger">{{errorPass}}</div>
                {{/if}}

                <input type="submit" value="Log In" class="btn btn-block btn-primary">
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/vendor/libs/popper/popper.js"></script>
  <script src="/assets/vendor/js/bootstrap.js"></script>
  <script src="/assets/js/main.js"></script>
</body> --}}



<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form action="#" method="post" name="form1" class="box">
      <img src="/assets/img/favicon_io/apple-touch-icon.png" width="100px" height="100px">
      <h4>Đăng nhập tài khoản nhân viên để kết nối với TomHR Web</h4>
      <input type="text" name="username" placeholder="Mã nhân viên" autocomplete="off">
      <i class="typcn typcn-eye" id="eye"></i>
      <input type="password" name="password" placeholder="Mật khẩu" id="pwd" autocomplete="off">
      <input type="submit" value="Đăng nhập" class="btn1">

      {{!-- Xử lý thông báo lỗi --}}
      {{#if errorUser}}
      <div class="alert alert-danger">{{errorUser}}</div>
      {{/if}}
      {{#if errorPass}}
      <div class="alert alert-danger">{{errorPass}}</div>
      {{/if}}
    </form>
    <a href="#" class="dnthave">Don’t have an account? Sign up</a>
  </div>
</div>



</html>

<script>
  var pwd = document.getElementById('pwd');
  var eye = document.getElementById('eye');

  eye.addEventListener('click', togglePass);

  function togglePass() {

    eye.classList.toggle('active');

    (pwd.type == 'password') ? pwd.type = 'text' : pwd.type = 'password';
  }

  // ParticlesJS

  // ParticlesJS Config.
  particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 60,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.1,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 6,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.1,
        "width": 2
      },
      "move": {
        "enable": true,
        "speed": 1.5,
        "direction": "top",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": false,
          "mode": "repulse"
        },
        "onclick": {
          "enable": false,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });
</script>