<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">Phòng ban /</span> Danh sách phòng ban</h4>

    <nav class="navbar mb-2">
      <div class="container-fluid flex-row-reverse">
        <button class="btn btn-primary mt-3 mt-md-0" type="button">
          <a href="/api/department/formCreateDepartment" class="text-white">
            Thêm phòng ban
          </a>
        </button>
      </div>
    </nav>
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="text-center p-2" style="background:#a7e0fa">Tên phòng ban</th>
              <th class="text-center p-2" style="background:#a7e0fa">Liên hệ
              </th>
              <th class="text-center p-2" style="background:#a7e0fa">Trưởng phòng</th>
            </tr>
          </thead>
          <tbody id="table-department" class="table-border-bottom-0">

          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <script>
      var table_html = ""
      const table_departments = `{{departments}}`
      const table = JSON.parse(table_departments.replace(/&quot;/g, '"'));
      console.log("table", table)
      for (const department of table) {
        const { _id,
          name,
          phone,
          status,
          name_lead } = department
        table_html += "<tr>"
        table_html += ` <td class="py-2" > <a style='font-size: 0.9375rem; color: #697a8d;'
            href="/api/department/getDepartmentInformation/${_id}">${name}</a></td>`
        table_html += `  <td class="py-2" > <a style='font-size: 0.9rem; color: #697a8d;'
            href="/api/department/getDepartmentInformation/${_id}">${phone}</a></td>`
        table_html += `  <td class="text-center py-2"><a style='font-size: 0.9375rem; color: #697a8d;'
                  href="/api/department/getDepartmentInformation/${_id}">${name_lead}</a>
              </td>`
        table_html += "</tr>"
      }

      $('#table-department').html(table_html)
    </script>

  </div>
  <!-- / Content -->



</div>
<!-- Content wrapper -->