<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Phòng ban /</span> Thêm mới phòng ban</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin phòng ban</h5>
          <!-- Account -->
          <form action="/api/department/createDepartment" id="formAccountSettings" method="POST">
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label for="name" class="form-label">Tên phòng ban</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="name" name="name" placeholder="VD: Kế toán" required
                    autofocus />
                </div>
                <div class="mb-3 col-md-12">
                  <label for="phone" class="form-label">Số điện thoại phòng ban</label>
                  <input class="form-control" type="text" id="phone" name="phone" placeholder="" autofocus />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="employee_code" class="form-label">Trưởng phòng</label>
                  <input id="input-code" type="text" list="search-employee" class="form-control me-2"
                    name="employee_code" placeholder="Nhập mã nhân viên">
                  <datalist id="search-employee">
                  </datalist>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Tạo mới phòng ban</button>
                <button type="reset" class="btn btn-secondary">
                  <a href="/api/department/fetchDepartmentList/:1" class="text-white">
                    Quay lại
                  </a>
                </button>
              </div>
            </div>
          </form>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <!-- Footer -->
  <footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
      </div>
      <div>
        <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

        <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank"
          class="footer-link me-4">Documentation</a>

        <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
          class="footer-link me-4">Support</a>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->