<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1">
    <h4 class="fw-bold mb-4"><span class="text-muted fw-light">Phòng ban /</span> Cập nhật thông tin phòng ban
    </h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin phòng ban</h5>
          <!-- Account -->
          <div id="department-update" class="card-body">

          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->


  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

<script>
  var department_encode = `{{department}}`
  const departments = JSON.parse(department_encode.replace(/&quot;/g, '"'));
  const { department, name_lead } = departments
  var html = ` <form id="formAccountSettings" action="/api/department/updateDepartment/${department._id}" method="POST">
              <div class="row flex-column">
                <div class="mb-3 col-md-6">
                  <label for="name" class="form-label">Tên phòng ban</label>
                  <input class="form-control" type="text" id="name" name="name" value="${department.name}" autofocus
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="name" class="form-label">Liên hệ</label>
                  <input class="form-control" type="text" id="phone" name="phone" value="${department.phone}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="code-manager" class="form-label">Trưởng phòng</label>
                  <input id="code-manager" type="text" list="code-manager-list" class="form-control me-2"
                    name="employee_code" value="${department.employee_code}" autocomplete="off">
                  <datalist id="code-manager-list">
                  </datalist>
                </div>
              <input id='department_id' type="hidden" class="form-control me-2"
              name="department_id" value="${department._id}" autocomplete="off">
              </div>
              <div class="mt-2">
                  <a class="text-white">
                  <button type="submit" class="btn btn-primary">
                      Lưu
                  </button>
                  </a>
                <a href="/api/department/getDepartmentInformation/${department._id}">
                  <button class="btn btn-secondary me-2">Quay lại</button>
                </a>
              </div>
            </form>`

  $("#department-update").html(html)
</script>