<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">Phòng ban /</span> Cập nhật thông tin phòng ban
    </h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin phòng ban</h5>
          <!-- Account -->
          <hr class="my-0" />
          <div class="card-body">
            <form id="formAccountSettings" action="/api/department/updateDepartment/{{department._id}}" method="POST">
              <div class="row flex-column">
                <div class="mb-3 col-md-6">
                  <label for="name" class="form-label">Tên phòng ban</label>
                  <input class="form-control" type="text" id="name" name="name" value="{{department.name}}" autofocus
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="name" class="form-label">Liên hệ</label>
                  <input class="form-control" type="text" id="phone" name="phone" value="{{department.phone}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="employee_code" class="form-label">Trưởng phòng</label>
                  <input id="input-code" type="text" list="search-employee" class="form-control me-2"
                    name="employee_code" placeholder="Nhập mã nhân viên">
                  <datalist id="search-employee">
                  </datalist>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary">
                  <a class="text-white">
                    Lưu
                  </a>
                </button>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->


  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->