<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">Phòng ban /</span> Thêm mới phòng ban</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin phòng ban</h5>
          <!-- Account -->
          <form action="/api/department/createDepartment" id="formAccountSettings" method="POST">
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label for="name" class="form-label">Tên phòng ban</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="name" name="name" placeholder="VD: Kế toán" required
                    autofocus autocomplete="off" />
                </div>
                <div class="mb-3 col-md-12">
                  <label for="phone" class="form-label">Số điện thoại phòng ban</label>
                  <input class="form-control" type="text" id="phone" name="phone" placeholder="" autofocus
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="employee_code" class="form-label">Trưởng phòng</label>
                  <input id="input-code" type="text" list="search-employee" class="form-control me-2"
                    name="employee_code" placeholder="Nhập mã nhân viên">
                  <datalist id="search-employee">
                  </datalist>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Tạo mới phòng ban</button>
                <button type="reset" class="btn btn-secondary">
                  <a href="/" class="text-white">
                    Quay lại
                  </a>
                </button>
              </div>
            </div>
          </form>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->


  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->