<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1">
    <h4 class="fw-bold mt-3 mb-4"><span class="text-muted fw-light">Nhân viên /</span>
      Thêm hồ sơ nhân viên</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-5">
          <!-- Account -->
          <form action="/api/ktkl/createKTKL" id="formAccountSettings" method="POST">
            <h5 class="card-header">Nhập thông tin khen thưởng, kỷ luật</h5>
            <div class="card-body">
              <div class="mb-3 row">
                <label for="input-code" class="col-md-2 col-form-label">Mã nhân
                  viên</label>
                <div class="col-md-6">
                  <input id="input-code" type="text" list="search-employee" name="employee_code"
                    class="form-control me-2" placeholder="Nhập mã nhân viên" autocomplete="off" />
                  <datalist id="search-employee">
                  </datalist>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="exampleFormControlSelect2" class="col-md-2 col-form-label">Loại</label>
                <div class="col-md-6">
                  <select class="form-select" id="exampleFormControlSelect2" aria-label="Multiple select example"
                    name="type">
                    <option value="khen_thuong">Khen thưởng</option>
                    <option value="ky_luat">Kỷ luật</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="html5-datetime-local-input" class="col-md-2 col-form-label">Thời gian</label>
                <div class="col-md-6">
                  <input class="form-control" type="date" name="day" value="2021-06-18T12:30:00"
                    id="html5-datetime-local-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="Example textarea" class="col-md-2 col-form-label">Mô tả</label>
                <div class="col-md-10">
                  <textarea class="form-control" id="Example textarea" rows="6" name="description"></textarea>
                </div>
              </div>
              <div class="mt-5">
                <button type="submit" class="btn btn-primary me-2">Lưu</button>
                <a href="/api/ktkl/fetchKTKLList">
                  <button class="btn btn-secondary me-2">Quay lại</button>
                </a>
              </div>
            </div>
          </form>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->