<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">
        Khen thưởng kỷ luật /</span>
      Danh sách</h4>

    <nav class="navbar mb-2">
      <div class="container-fluid flex-row-reverse">
        <a href="/api/ktkl/formCreateKTKL" class="text-white">
          <button class="btn btn-primary mt-3 mt-md-0" type="button">
            <i class="bx bxs-user-plus"></i>
            Thêm khen thưởng, kỷ luật
          </button>
        </a>
      </div>
    </nav>
    <!-- Borderless Table -->
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="p-2 text-center" style=" background:#a7e0fa">MÃ NHÂN VIÊN</th>
              <th class="p-2 text-center" style=" background:#a7e0fa">HỌ TÊN</th>
              <th class="p-2 text-center" style=" background:#a7e0fa">CHỨC VỤ</th>
              <th class="p-2 text-center" style=" background:#a7e0fa">THỜI GIAN</th>
              <th class="p-2 text-center" style=" background:#a7e0fa">MÔ TẢ</th>
              <th class="p-2 text-center" style=" background:#a7e0fa">Hoạt động</th>
            </tr>
          </thead>
          <tbody id="ktklLine">

          </tbody>
        </table>
      </div>
    </div>
    <!--/ Borderless Table -->


  </div>
  <!--/ Basic Pagination -->
</div>
<!-- / Content -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
<script>
  const ktklLine = `{{ktklLine}}`
  const ktklLines = JSON.parse(ktklLine.replace(/&quot;/g, '"'));
  console.log(ktklLines);
  for (const line of ktklLines) {
    const { employee, ktkl } = line
    const { code, name, job } = employee
    const { _id, day, description } = ktkl
    let html = ''
    html += "<tr>"
    html += `<td class="py-2" style="font-size: 0.9375rem;">${code}</td>`
    html += `<td class="py-2" style="font-size: 0.9375rem;">${name}</td>`
    html += `<td class="py-2" style="font-size: 0.9375rem;"> ${job} </td >`
    html += `<td class="py-2" style="font-size: 0.9375rem;"> ${day} </td>`
    html += `<td class="py-2" style="font-size: 0.9375rem;"> ${description} </td>`
    html += `<td class="py-2 text-center" style='font-size: 0.9375rem;'>` +
      `<a style="color: #697a8d; margin-right:10px" href= '/api/ktkl/information/${_id}'>` +
      `<button type="button" class="btn btn-outline-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                  </svg>
                </button></a>` +
      `<a style='color: #697a8d;' href='/api/ktkl/delete/${_id}'>` +
      `<button type="button" class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                  </svg>
        </button></a ></td>`
    html += "</tr>"

    $('#ktklLine').append(html)
  }
</script>