<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">Nhân viên /</span> Danh sách nhân viên</h4>

    <nav class="navbar bg-light mb-2">
      <div class="container-fluid">
        <form class="d-flex mb-0" role="search">
          <input id="input-code" type="text" list="search-employee" class="form-control me-2"
            placeholder="Nhập mã nhân viên" autocomplete="off">
          <datalist id="search-employee">
          </datalist>
          <button id="btn-search-code" type="button" class="btn btn-danger"><i
              class='bx bx-search bx-rotate-90'></i></button>
        </form>
        <button class="btn btn-success mt-3 mt-md-0" type="button">
          <i class='bx bxs-user-plus'></i>
          <a href="/api/employee/formCreateEmployee" class="text-white">
            Nhân viên
          </a>
        </button>
      </div>
    </nav>
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="text-center" style=" background:#a7e0fa"></th>
              <th class="text-center" style="height: 30px; line-height:30px; background:#a7e0fa">Mã nhân viên</th>
              <th class="text-center" style="height: 30px; line-height:30px; background:#a7e0fa">Tên nhân viên</th>
              <th class="text-center" style="height: 30px; line-height:30px; background:#a7e0fa">Giới tính</th>
              <th class="text-center" style="height: 30px; line-height:30px; background:#a7e0fa">Phòng ban</th>
              <th class="text-center" style="height: 30px; line-height:30px; background:#a7e0fa">Chức vụ</th>
              <th class="text-center" style="height: 30px; line-height:30px; background:#a7e0fa">Trạng thái hồ sơ</th>
            </tr>
          </thead>
          <tbody id="table-employee" class="table-border-bottom-0">
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->


    <div id="pagination" class="row mt-4">

    </div>

    <script>
      var table_html = ""
      const table_employee = `{{employees}}`
      const table = JSON.parse(table_employee.replace(/&quot;/g, '"'));

      //Select
      //table_html += "<tr>"
      //table_html += `<td></td>`
      //table_html += `<td> 

      //                </td>`
      //table_html += `<td>
      //                  <input id="input-name" type="text" list="input-name" class="form-control me-2"
      //                  placeholder="Nhập tên nhân viên" autocomplete="off">
      //                  <datalist id="input-name">
      //                  </datalist>
      //                </td>`
      //table_html += `<td>
      //                  <select id="search-gender" name="search-gender" class="select2 form-select" required>
      //                    <option value="">--Chọn--</option>
      //                    <option value="male">Male</option>
      //                    <option value="female">Female</option>
      //                  </select>
      //                </td>`
      //table_html += `<td><select id="select-department" name="select-department" class="select2 form-select">
      //                    <option value=''>-- Chọn --</option>
      //                  </select>
      //               </td>`
      //table_html += `<td>
      //               </td>`
      //table_html += `<td><select id="select-status" name="select-status" class="select2 form-select" required>
      //                    <option value= ''>--Chọn--</option>
      //                    <option value= 'working'>Working</option>
      //                    <option value= 'probationry'>Probationry</option>
      //                    <option value= 'demit'>Demit</option>
      //                    <option value= 'maternity_leave'>Maternity</option>
      //                  </select>
      //                </td>`
      //table_html += "</tr>" --}}

      for (const element of table) {
        const { employee, department } = element
        table_html += "<tr>"
        table_html += `<td><div style="background-image: url('/assets/img/avatars/${employee.avatar}');
                    width: 45px;
                    height: 45px;
                    background-size: cover;
                    background-position: top center;
                    border-radius: 50%;
                    margin: 0 auto;"></div></td>`
        table_html += `<td class="text-left"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}">${employee.code}</a></td>`
        table_html += `<td class="text-left"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}">${employee.name}</a></td>`
        table_html += `<td class="text-center"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}">${employee.gender}</a></td>`
        table_html += `<td class="text-center"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}">${department}</a></td>`
        table_html += `<td class="text-center"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}">${employee.job}</a></td>`
        if (employee.status == "draft") {
          table_html += `<td class="text-center"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}"><span class="badge bg-secondary me-1">Nháp</span></a></td>`
        }
        else if (employee.status == 'demit') {
          table_html += `<td class="text-center"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}"><span class="badge bg-danger me-1">Lưu trữ</span></a></td>`
        }
        else if (employee.status == 'working') {
          table_html += `<td class="text-center"><a style='color: #697a8d;' href="/api/employee/getEmployeeInformation/${employee._id}"><span class="badge bg-success me-1">Đang làm việc</span></a></td>`
        }
        table_html += "</tr>"
      }

      $('#table-employee').html(table_html)



      //PAGINATION
      var html = "";
      var pages = {{ pages }}
      var current = {{ current }}

      if (pages > 0) {
        html += "<nav class='mx-auto'>"
        html += "<ul class='pagination mt-1'>"

        //FIRST ITEM 
        if (current == 1) {
          // Nếu thông số http://localhost:3333/news/1/ là 1 thì First sẽ bị disabled
          html += "<li class='page-item disabled'>"
          html += "<a class='page-link' href='/api/employee/fetchEmployeeList/1'>First</a>"
          html += "</li>"
        } else {
          // Nếu thông số http://localhost:3333/news/2/ từ 2 trở lên thì First sẽ bỏ disabled
          html += "<li class='page-item'>"
          html += "<a class='page-link' href='/api/employee/fetchEmployeeList/1'>First</a>"
          html += "</li>"
        }

        // ITEMS
        var i = (Number(current) > 3 ? Number(current) - 2 : 1)
        // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 >
        // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2.
        if (i !== 1) {
          html += "<li class='page-item disabled'>"
          html += "<a class='page-link' href='#'>...</a>"
          html += "</li>"
        }

        for (; i <= (Number(current) + 2) && i <= pages; i++) {
          // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang 
          // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi
          if (i == current) {
            html += "<li class='page-item active'>"
            html += `<a class='page-link' href='/api/employee/fetchEmployeeList/${i}'>`
            html += i
            html += "</a>"
            html += "</li>"
          } else {
            html += "<li class='page-item'>"
            html += `<a class='page-link' href='/api/employee/fetchEmployeeList/${i}'>`
            html += i
            html += "</a>"
            html += "</li>"
          }

          if (i == Number(current) + 2 && i < pages) {
            html += "<li class='page-item disabled'>"
            html += "<a class='page-link' href='#''>...</a>"
            html += "</li>"
          }
        }

        // LAST ITEM
        if (current == pages) {
          // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled
          html += "<li class='page-item disabled'>"
          html += "<a class='page-link' href='#''>"
          html += "Last"
          html += "</a>"
          html += "</li>"
        } else {
          // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6
          html += "<li class='page-item'>"
          html += `<a class='page-link' href='/api/employee/fetchEmployeeList/${pages}'>`
          html += "Last"
          html += "</a>"
          html += "</li>"
        }
        html += "</ul>"
        html += "</nav>"
      }
      html += "</div>"



      $("#pagination").html(html)




      $('#select-department').on('click change', function (e) {
        socket.emit("/api/department/getListDepartment")
      });



      //event-search-manv
      //$('select').on('change', '', function (e) {

      //});
      //event-search-tennv
      //$('select').on('change', '', function (e) {

      //});
      //event-search-gender
      //$('#search-gender').on('change', '', function (e) {
        //let valueSelected = this.value;
        //socket.emit("search-select", { type: 'search-gender', value: valueSelected })
      //});
      //event-search-department
      //$('#select-department').on('change', '', function (e) {
        //let valueSelected = this.value;
        //socket.emit("search-select", { type: 'select-department', value: valueSelected })
      //});
      //event-search-status
      //$('#select-status').on('change', '', function (e) {
        //let valueSelected = this.value;
        //socket.emit("search-select", { type: 'select-status', value: valueSelected })
      //});

    </script>

    <!--/ Basic Pagination -->
  </div>
  <!-- / Content -->



  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->