<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3">Báo cáo chấm công</h4>

    <div class="col-md-6 mb-3">
      <select id="gender" name="gender" class="select2 form-select">
        <option value="">--Chọn tháng--</option>
      </select>
    </div>



    <!-- Responsive Table -->
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr id="title_month" class="text-nowrap">
            </tr>
          </thead>
          <tbody>
            <tr id="acupuncture_user">
              <td>{{employee.code}}</td>
              <td>{{employee.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->

    <hr class="my-4" />

    <div id="pagination" class="row">

    </div>


    <!--/ Basic Pagination -->
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
<script>

  var html = "<th>Mã nhân viên</th><th>Tên nhân viên</th>"
  var acupuncture = "";
  var month_encode = "{{ month }}"
  var acupunctures_encode = "{{ acupunctures }}"
  var month = JSON.parse(month_encode.replace(/&quot;/ig, '"'));
  var acupunctures = JSON.parse(acupunctures_encode.replace(/&quot;/ig, '"'));
  console.log("acupuncture", acupunctures)
  for (let i = 1; i <= month.total; i++) {
    html += `<td>${i}</td>`
    let check = 0
    for (let j = 0; j < acupunctures.length; j++) {
      const { date } = acupunctures[j];
      if (String(date) === String(i)) {
        acupuncture += `<td>1</td>`
        break;
      }
      check++;
      if (check == acupunctures.length) {
        acupuncture += `<td></td>`
      }
    }
  }


  console.log("acupuncture", acupuncture)
  $("#title_month").html(html)
  $("#acupuncture_user").append(acupuncture)




  $('#acupuncture').click(function () {

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        const { coords } = position
        const { latitude, longitude } = coords
        socket.emit("user-acupuncture", {
          latitude: latitude,
          longitude: longitude,
          table_id: $('#table_id').val(),
          user_id: $('#user_id').val()
        })
      });

    }

  });
</script>