<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Vị trí chấm công/</span> Thêm vị trí chấm công
    </h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Vị trí chấm công mới</h5>
          <!-- Account -->
          <form action="/api/timekeep/position" method="POST">
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label for="name" class="form-label">Tên công ty</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="name" name="name" required autofocus autocomplete="off" />
                </div>

                <div class="mb-3 col-md-12">
                  <label for="latitude" class="form-label">Vĩ độ (Latitude)</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="latitude" name="latitude" value="" required
                    autocomplete="off" />
                </div>

                <div class="mb-3 col-md-12">
                  <label for="longitude" class="form-label">Kinh độ (Longitude)</label> (<span
                    class="text-danger">*</span>)
                  <input class="form-control" type="text" id="longitude" name="longitude" value="" required
                    autocomplete="off" />
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Lưu</button>
                <button type="reset" class="btn btn-secondary">
                  <a href="/" class="text-white">
                    Quay lại
                  </a>
                </button>
              </div>

              <div id="map" class="mt-5"
                style="position: relative;z-index: 10;width: 100%;height: 500px;border-radius: 5px;">
                <pre id="info" class="mb-0 p-4" style="position: absolute;
                           z-index: 15;
                           left: 50%;
                           width:350px;
                           font-size:0.9rem;
                           min-height:88px;
                           color:#fff;
                           transform: translateX(-50%);
                           background-color: #000;
                           opacity: .6;">
                </pre>
              </div>
            </div>

          </form>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->


  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

<script src="/assets/js/map.js"></script>