<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Chấm công /</span> Báo cáo chấm công</h4>


    <div class="card mb-4">
      <!-- Account -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <select id="months" name="months" class="select2 form-select">
              {{#each months}}
              <option value={{this._id}}>Tháng {{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <!-- /Account -->
    </div>

    <!-- Responsive Table -->
    <div id="card" class="card">
      <h1 class="text-center mt-4 mb-2"></h1>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr id="title_month" class="text-nowrap">
            </tr>
          </thead>
          <tbody id="acupuncture_user">
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->

    <!--/ Basic Pagination -->
  </div>
  <!-- / Content -->

</div>
<!-- Content wrapper -->
<script>

  $('#months').on('change', function () {
    socket.emit("employee-report", { value: this.value })
  });

</script>