<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">Chấm công /</span> Tạo bảng chấm công</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <!-- Account -->
          <hr class="my-0" />
          <div class="card-body">
            <div class="row align-items-center">
              <div class="mb-3 col-md-6">
                <label class="form-label" for="month">Tháng</label>
                <select id="month" name="month" class="select2 form-select" required>
                  {{#each months}}
                  <option value="{{this._id}}">Tháng {{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="mb-3 col-md-4">
                <label class="form-label" for="year">Năm</label>
                <select id="year" name="year" class="select2 form-select" required>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
              </div>
            </div>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>

    <!-- Responsive Table -->
    <div id="card" class="card">
      <h1 class="text-center mt-4 mb-2"></h1>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr id="title_month" class="text-nowrap">
            </tr>
          </thead>
          <tbody id="acupuncture_user">
          </tbody>
        </table>
      </div>
    </div>

    <div id="messageError" style="display: flex;flex-direction: column;align-items: center;">
      <img src="/assets/img/illustrations/no-data.png" alt="" style="
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
      ">
      <h4>Không tìm thấy dữ liệu!</h4>
    </div>


    <!--/ Responsive Table -->
  </div>
  <!-- / Content -->


  <script>
  </script>
  <!-- Content wrapper -->
  <script>
    $("#card").hide()
    $("#messageError").hide()

    $('#month').on('change', function () {
      socket.emit("employee-report", { month_id: this.value, year: $('#year').val() })
    });

    $('#year').on('change', function () {
      socket.emit("employee-report", { month_id: $('#month').val(), year: this.value })
    });

  </script>